div
{
	margin:0;
	padding:0;
}
body
{
	margin:0;
	padding:0;
	background-image:url(../images/back_dimer.png);
	background-repeat:repeat;
	overflow:unset;
}
.logo
{
	border-radius:50%;
	width:20%!important;
}
.header
{
	position:fixed;
	top:0;
	width:100%;
	height:200px;
	background-image:url(../images/back_brighter.png);
	align-self:flex-start;
	background-repeat:repeat;
}
.main
{
	width:100%;
	color:#ffffff;
	top:200px;
	text-shadow: 0 0 2px #000;
	text-align:center;
}
.holderone
{
}
.holdertwo
{
	white-space:nowrap;
	color:#ffffff;
	left:60px;
	font-size:120px;
	text-shadow: 0 0 4px #000;
}